*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
header{
  width: 100%;
  height: 100vh;
  background: url(image/bg.jpg);
  background-size: contain;
  background-attachment: fixed;
}
 nav{
   width:100%;
   height:80px;
   padding-left: 2%;
   padding-right: 2%;
   padding-top: 2%;
   background: transparent;
   color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
  font-size: 80px;
 }

.logo{
  font-size: 1.5em;
  color: darkblue;
 }

 .menu a{
   justify-content: space-between;
   text-decoration: none;
   font-size: 0.9em;
   padding: 10px 20px;
   color: darkblue;
 }
 .menu a:hover{
   color: darkblue;
 }
/* navigation bar 
#navbar{
    overflow: hidden;
    background-color: transparent;
    color: black;
    padding: 25px 0px;
    width: 100%;
    top: 0%;
    position: fixed;
    font-size: 18px;
}

#navbar-right{
    float: right;
    color: black;
    text-align: right;
    padding: 12px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
}

#container {
    position: relative;
   width: 100%;
  }
  
#container img {
    position: relative;
    width: 100%;
    height: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
  }
 */ 
 /* .wrapper{
   text-align: center;
 } */
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 50px;
    padding: 16px 32px;
    width: 700px;
    height: 200px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
  }
  
.container .btn:hover {
    background-color: black;
    color: white;
  }
  